:root{
    --fundo: #00FFFF;
    --frente-cartao: #708090;
    --verso-cartoa: #7B68EE;
    --destaque: #807a7a;
    --preto: #000000;
    --branco:#DCDCDC;

}
body{
    background-color: var(--fundo);
    margin: 0;
}
 footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
 }